body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;

  background-color: #849d8f;
 }

a {
  text-decoration-color: rgba(255, 255, 255, 0.2);
  background: transparent;
 }

img {
  max-width:100%;
  height: auto;
 }

.filters {
  width: 1146px;
  margin: 0 auto;
}



.site-wrapper {
  min-width: 1146px;
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*.button {
  font: inherit;
  font-size: 18px;
  line-height: 24px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: none;
  text-decoration: none;

  background-color: #ee5e3f;
  border: none;
  border-radius: 40px;
  box-shadow: 0 2px 2px 0 rgba(172,16,0, 0.64);
}
.button:hover,
.button:focus {
  background-color: #f07963;
  box-shadow: 0 2px 2px 0 rgba(172,16,0, 1);
}

.button:active {
  background-color: #db5338;
  box-shadow: inset 0 2px 2px 0 rgba(148,39,24, 1);
}

/* ------------------ кнопки ------------------ */

.button {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 22px;

  color: #ffffff;

  text-align: center;
  vertical-align: top;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  border: none;
  text-decoration: none;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*header,*/
.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;

  background-color: transparent;

}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation .navigation-button {
  display: inline-block;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  padding: 7px 14px;

  color: #ffffff;
}

.site-navigation .navigation-button:hover,
.site-navigation .navigation-button:focus {
  color: #333333;

  background-color: #f7f6f3;

  border-radius: 16px;

  text-decoration: none;
}

.site-navigation .navigation-button:active {
  color: #333333;

  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;

  border-radius: 16px;

  text-decoration: none;
}

.site-navigation a {
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.site-navigation a,
.user-navigation a {
  display: block;

  color: #ffffff;
  /*background-color: #849d8f; А еще  как добиться подчеркивания ссылок в главной, ощущение что это декоративный элемент*/
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #333333;

  background-color: #f8f7f4;
}

.site-navigation a:active,
.user-navigation a:active {
  box-shadow: inset 0 2px 1px 0 rgba(105,105,105, 1);
}

.user-navigation a,
.main-header-logo {
  border-bottom: none;
}

.catalog-link-current {
  color: #ffffff;
  background-color: #d07058;
  border-radius: 40px;

  text-decoration: none;
}

.user-navigation {
  display: flex;
  align-self: flex-start;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  min-width: 245px;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;

}

.user-navigation a {
  display: inline-block;

  padding: 9px 16px;
  padding-right: 28px;

  vertical-align: middle;
  color: #ffffff;

  padding: 9px 16px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  text-decoration: none;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #333333;
}

.user-navigation-button {
  position: relative;
}

.user-navigation .search-button {
  padding: 0;
  width: 33px;
  height: 33px;
}

.search-button svg.search-button-img {
  position: absolute;
  width: 17px;
  height: 17px;

  left: 8px;
  top: 8px;
}

.search-button:focus,
.search-button:hover {
  background-color: #f8f7f4;
}

.search-button:focus path,
.search-button:hover path {
  fill: #000000;
}


/* .search-button::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  left: 8px;
  top: 8px;
  background-image: url("../img/icon-header-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.search-button:hover::before,
.search-button:focus::before {
  background-image: url("../img/icon-header-enter-black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
*/


.user-navigation .login-link-enter {
  padding-left: 44px;
}

.login-link-enter svg.login-button-img {
  position: absolute;
  width: 21px;
  height: 19px;

  left: 25px;
  top: 7px;
}

.login-link-enter:focus,
.login-link-enter:hover {
  background-color: #f8f7f4;
}

.login-link-enter:focus path,
.login-link-enter:hover path,
.login-link-enter:focus polygon,
.login-link-enter:hover polygon {
  fill: #000000;
}

/* .login-batton::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 19px;
  left: 16px;
  top: 6px;
  background-image: url("../img/icon-header-enter.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
} */


/*Вход в личный кабинет*/
.user-navigation .login-link-enter {

}
.login-link {
  position:relative;
  width: 93px;
  padding: 0;

  margin: 0;
  /*margin-left: 10px;*/
  
}

.login-link-enter {
  padding-left: 45px;

  background-color: rgba(132, 157, 143 0);
}
.login-form-links a {
  margin: 0;
  padding:0;
}
.modal-login {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
}

.login-form input:focus {
  border: 2px solid #d3d3d2;
}

.login-user:hover,
.login-user:focus,
.password:hover,
.password:focus {
  color: #999999;
}

.login-form-wrapper a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.login-form-wrapper a:hover,
.login-form-wrapper a:focus{
  color: #e84d37;
  border-radius: 0;
  text-decoration: underline;

}


/*.login-link-enter::before {
  content: "";

  position: absolute;
  top: 0;
  left: 15px;

  width: 23px;
  height: 23px;

  background: url("../img/entrance.svg") no-repeat;
  background-position: 0 0;
  opacity: 1;
}
.login-link-enter:hover::before,
.login-link-enter:focus::before,
.login-link-enter:active::before {
  opacity: 0;
}*/


.modal-login {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: 278px;

  padding: 0;
  padding-left: 20px;
  padding-right: 18px;
  padding-bottom: 20px;

  
}

.button-login {


  margin-right: 20px;

  width: 100px;
  height: 44px;

  border-radius: 22px;
}

.login-form a:hover,
.login-form a:focus {
  color: #e84d37;
}

.button-login {
  width: 100px;
  height: 44px;

  border-radius: 22px;
}

.login-link .modal-login {
  position: absolute;
  top: 30px;
  left: -200px;

  display: none;
}

.login-link:hover .modal-login,
.login-link:focus .modal-login,
.login-link:active .modal-login {
  display: flex;
}

.login-user,
.password {
  display: flex;

  width: 240px;
  margin: 0;
  padding: 0;
}

.login-form-wrapper {
  display: flex;

  align-items: center;

  box-sizing: border-box;

  width: 240px;
  padding: 0;
  margin: 0;
}


.login-form-links p {
  display: flex;
  flex-direction: column;

  width: 119px;
  margin: 0;
  padding: 0;
}

.work-hours {
  font-size: 14px;
  line-height: 16px;
}

.header-phone {
  font-size: 22px;
  line-height: 24px;
}


/* Непонятно как размечать режим работы  и телефон, размер шрифта разный, может надо  кажду строчку отдельно обернуть в абзац?*/

/*main*/
.main-container {
  position: relative;
}


.main-slider {
  margin-top: 260px;
  margin-bottom: 41px;

  position: relative;
  /*padding-top: 321px;*/

  text-align: center;
  color: #ffffff;
}

.main-slider h3 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;

  width: 675px;
  margin: 0 auto;
  margin-bottom: 30px;
}


.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
  width: 100%;
}

.main-slider a.main-slider-button {
  padding-left: 42px;
  padding-right: 42px;

  font-size: 32px;
  line-height: 44px;

  border-radius: 32px;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 21px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slide {
  display: none;
}

#switch-slide-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
}

#switch-slide-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
}

#switch-slide-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
}


#switch-slide-1:checked ~ .site-wrapper #slide-1,
#switch-slide-2:checked ~ .site-wrapper #slide-2,
#switch-slide-3:checked ~ .site-wrapper #slide-3 {
  display: block;
}

#switch-slide-1:checked ~ .site-wrapper label[for="switch-slide-1"],
#switch-slide-2:checked ~ .site-wrapper label[for="switch-slide-2"],
#switch-slide-3:checked ~ .site-wrapper label[for="switch-slide-3"] {
  background-color: #ffffff;
}





/*Промо-акции*/
.promo-list {
  list-style: none;
}

.promo-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-top: 20px;
}

.promo-offer{
  display: inline-block;
  margin-top:0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.raspberry {
  background-image: url("../img/banner-1.jpg");
  background-color: #a82145;
}

.chocolate {
  background-image: url("../img/banner-2.jpg");
  background-color: #553324;
}

.promo-item a {
  display: inline-block;
  margin-left: 330px;
  margin-top: 35px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 190px;
}

/*Каталог товаров*/
.catalog-list {
  list-style: none;
  margin-bottom: 40px;
}

.catalog-list a {
  color: #ffffff;
}

.catalog-item {

  position: relative;
  text-align: center;

  padding: 0;
  margin:0;


}
.item-container:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
  position: absolute;

  top:-20px;
  left:-20px;

  width: 297px;
  height: 407px;

  padding-left: 17px;
  padding-right: 17px;
  border-radius:  12px;

  z-index: 1;

  display: block;
}

.item-container:before:hover,
.item-container::before:focus {
  display: block;
}


.button-item {

  display: none;
  width: 176px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 22px;
  color: #ffffff;


}

.catalog-item {
  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;

  background-color: transparent;
}

.item-container:hover .button-item,
.item-container:focus .button-item {
  display: inline-block;
}

.button-item:hover,
.button-item:focus {
  display: inline-block;
}


.hit {
  position: relative;
}

.hit::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 3;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}




.catalog-item-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-decoration-color: rgba(255, 255, 255, 0.2);

}

.item-price {
  margin-top: -83px;
  margin-left: -105px;
}

.item-price b {
  font-size: 45px;
  line-height: 45px;
}

.item-price span {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}





.catalog-item {
  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;




}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}


/* Особенности*/
.features {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;
  margin-bottom: 40px;

  color: #323232;
  background-color: #f1e7d1;
  background-image: url("../img/pattern.jpg");
  border-radius: 15px;
 }

.features .features-title {
  margin-left: 20px;
}
.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500
 }

.features-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {

  position: relative;
  width: 478px;
  margin-left: 76px;
  margin-right: 12px;
  margin-bottom: 22px;
}

.feature-item::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  top: -14px;
  left: -57px;
}
.features-item-1::before {
  background-image: url("../img/ice-cream.svg");
}

.features-item-2::before{
  background-image: url("../img/cow.svg");
}

.features-item-3::before {
  background-image: url("../img/eco.svg");
}

.features-item-4::before{
  background-image: url("../img/thermometer.svg");
}


/*Article Новости*/
 .news {
   box-sizing:border-box;
   color: #323232;
   background-color: #ffffff;
   background-image: url("../img/article.jpg");
   border-radius: 15px;
   background-repeat: no-repeat;
 }

 .news h2 {
   font-size: 16px;
   line-height: 22px;
   font-weight: 500;

 }

 .news a {
   font-size: 24px;
   line-height: 30px;
   font-weight: 700;
   color: #323232;
   text-decoration: underline;
 }

/* Рассылка*/
.subscription {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  color: #5a5a5a;
  background-color: #f8f7f4;
  background-image: url("../img/subscription.png");
  border-radius: 15px;
  background-repeat: no-repeat;

}

.subscription p {
  width: 511px;
}

.subscription-wrapper {
  display: flex;

  width: 511px;

  padding: 0;
  margin: 0;
  margin-top: 40px;


}

.subscription-layer {
  position: relative;
  box-sizing: border-box;

  left: 0px;
  margin: 5px;
  padding-top: 25px;
  padding-left: 25px;



  width: 549px;
  min-height: 210px;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscription-form {
  line-height: 24px;
  color: #999999;
}

.subscription-form input[type="email"] {
  font: inherit;
  color: #323232;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
}
.subscribe  input:focus{
  border: 2px solid #d3d3d2;

}

.subscribe:hover,
.subscribe:focus {
  color: #999999;
}

.subscribe:active {
  font-weight: 700;
  color: #323232;
}

/*Карта и контакты*/
.contacts {
  color: #323232;
  background-color: #ffffff;
}

.contacts h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contacts-address {
  font-size: 18px;
  line-height: 24px;
}

.contacts-phone {
  font-size: 14px;
  line-height: 22px;
}

.contacts-phone b {
  font-size: 18px;
}

/*Стилизация каталога товаров, заголовок*/
.page-wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0;
}
.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

/*Стилизация каталога, навигация*/
.breadcrumbs {

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  list-style: none;
}
.
.breadcrumbs li {

  margin-right: 20px;

  list-style: none;
}

.breadcrumbs a::after {
  content: "»";
  display: block;

  position: absolute;
  top: 0px;
  right: -12px;

  width: 6px;
  height: 6px;
  color: rgb(255, 255, 255);
}

.breadcrumbs a {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;

  text-decoration-color: #ffbc9e;
}

.breadcrumbs-current {

}

/*Фильтр*/
/* Фильтры сортировки товаров и цен*/
.filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  margin-bottom: 25px;
}

.filter {
  display: flex;
  flex-wrap: wrap;

  width: 880px;
}

.filter fieldset {
  border: none;

  margin-bottom: 15px;
}

.filters legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.filters ul {
  list-style: none;
}

.filter-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  margin: 0;
  margin-right: 14px;
  padding: 0;
}

.filter-item-fat legend,
.filter-item-additive legend,
.filter-item-sort legend,
.filter-item-price legend {
  padding-left: 15px;
}

.filter-fat,
.filter-additive,
.filter-sort {
  display: flex;
  box-sizing: border-box;

  margin: 0;
  padding: 10px 15px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.filters select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: relative;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: inherit;

  padding-top: 16px;
  padding: 9px;
  padding-left: 16px;
  padding-right: 32px;

  border: none;
  box-sizing: border-box;

  -webkit-appearance: none;

  background-image: url("../img/icon-down-dir.svg");
  background-position: 168px center;
  background-repeat: no-repeat;
}

.filters select:hover {
  color: #323232;

  background-image: url("../img/icon-down-dir.svg");
  background-position: 168px center;
  background-repeat: no-repeat;
}

.filter-item-sort option {
  color: #323232;
}

.filter-price {
  position: relative;

  margin: 0;
  padding: 17px 22px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18.5px;
}

.filter-price .scale {
  width: 176px;
  height: 4px;

  background: rgba(255, 255, 255, 0.5);
}

.filter-price .bar {
  margin-left: 33px;
  width: 78px;
  height: 4px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: 9px;
  width: 20px;
  height: 20px;

  box-sizing: border-box;
  background: rgba(132, 157, 143, 0.2);
  border: 8px solid #ffffff;
  border-radius: 50%
}

.range-toggle-min {
  left: 35px;
}

.range-toggle-max {
  left: 133px;
}

.range-toggle:hover {
  position: absolute;
  top: 8px;
  width: 22px;
  height: 22px;

  box-sizing: border-box;
  background: rgba(132, 157, 143, 0.2);
  border: 9px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.filter-fat li {
  position: relative;

  padding-left: 32px;
  padding-right: 17px;
}

.filter-additive li {
  position: relative;

  padding-left: 32px;
  padding-right: 20px;
}

.filter-additive li:nth-child(3) {
  padding-right: 25px;
}

.filter-fat li:last-child {
  padding-right: 0;
}

.filter-additive li:last-child {
  padding-right: 5px;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;

  box-sizing: border-box;
  width: 22px;
  height: 22px;

  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 7px;

  box-sizing: border-box;
  width: 8px;
  height: 8px;

  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

input[type="radio"]:hover + label::before,
input[type="radio"]:focus + label::before {
  border: 3px solid #ffffff;
}

input[type="radio"]:hover + label::after,
input[type="radio"]:focus + label::after {
  border: 3px solid #ffffff;
  background-color: #ffffff;
}

input[type="radio"]:disabled + label::before,
input[type="radio"]:disabled + label::after {
  border: 3px solid rgba(255, 255, 255, 0.4);
}

input[type="checkbox"]:not(:checked) + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;

  box-sizing: border-box;
  width: 24px;
  height: 24px;

  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

input[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;

  box-sizing: border-box;
  width: 24px;
  height: 24px;

  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

input[type="checkbox"]:not(:checked):hover + label::before,
input[type="checkbox"]:not(:checked):focus + label::before {
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

input[type="checkbox"]:not(:checked):disabled + label::before {
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

input[type="checkbox"]:hover + label::before,
input[type="checkbox"]:focus + label::before {
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

input[type="checkbox"]:not(:checked):disabled + label::before {
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

.filter-button {
  display: block;

  width: 144px;
  height: 37px;

  margin-top: 21px;

  font-weight: 500;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);

  border: 2px solid #ffffff;
  border-radius: 18.5px;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;
  background-color: #ffffff;
}

.filter-button:active {
  color: #323232;
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.sort {
  font-size: 16px;
  line-height: 18px;

  border: none;
}



/*Пагинация*/
.pagination a {
  border-bottom: none;
}
.pagination-item {
  display: block;
  padding: 6px 12px;

  list-style: none;
  color: #ffffff;
  border-bottom: none;


}

.pagination-item a {
  padding: 0;
  color: #ffffff;
  text-decoration: none;
}

.back-page-link {
  position: absolute;
  top: 0;
  left: -5px;
  width: 8px;
  height: 12px;
  transform: scale(-1);
}

.next-page-link {
  position: absolute;
  top: 0;
  left: 5px;
  width: 8px;
  height: 12px;
}

.pagination-item:hover,
.pagination-item:focus {

  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {

  color: #323232;
  background-color: #ffffff;
}

.pagination-item-current {

  height: 21px;

  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}

.pagination-item-current a {
  color: #323232;
  
}

.pagination-item-current a:hover {
  margin: 0;
  padding: 0;
  width: 26px;
  height: 21px;
}



/*footer*/
.main-footer  {
  font-size: 13px;
  line-height: 18px;
}

.main-footer a {
  color: #ffffff;
}

.main-footer ul {
  list-style: none;
}

/*Соц. сети*/
.footer-social a {
  border-bottom: none;

}

.footer-social a:hover,
.footer-social a:focus {
  color: #ffbc9e;
}

.social-button {
  list-style: none;
}

.social-button:hover,
.social-button:focus {

}

/*Инфо*/
.footer-info {

}

.footer-info li:first-child {
  font-weight: 700;
}

.footer-info a:hover,
.footer-info a:focus {
  color: #ffbc9e;
}
/*Копирайт*/
.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.copyright-logo {
  border-bottom: none;
}

.copyright-info a:hover,
.copyright-info a:focus {
  color: #ffbc9e;
}

/*Ниже всплывающие окна*/
.modal {
  color: #323232;
  background-color: #f8f7f4;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.4);
 }

/*Каталог*/
.modal-menu {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: 144px;

  padding: 0;
  margin: 0;
  padding-left: 6px;
  padding-right: 8px;
  margin-bottom: 20px;

  color: #323232;

  list-style: none;



}
.modal-menu li{
  display:block;

  padding:10px 15px; }

.modal-menu a{
  text-decoration:none;
  color:#ffffff;
}

.modal-catalog {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  width: 128px;
  padding: 0;
  margin: 0;

  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.modal-catalog li {
  display: flex;
  flex-direction: column;

  width: 113px;
  padding: 0;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;

  list-style: none;

}

.modal-catalog li:first-child {
  font-weight: 700;
  padding-bottom: 15px;
  border-bottom: 1px solid #d1d0ce;
}

.modal-catalog a {
  display: block;
  padding: 0;
  color: #323232;
  border: none;
}

.modal-catalog a:hover,
.modal-catalog a:focus {
  background-color: #fbded7;
}

.modal-catalog a:active {
  background-color: #f6b5a5;
}



/*Обратная связь*/
.modal-feedback {
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}


.modal-feedback {
  display: none;
  position: fixed;
  top: 338px;
  left: 50%;

  z-index: 20;
}

.modal-view {
  display: block;
}



.feedback-title {
  line-height: 28px;
  margin: 0;
  padding: 0;
  display: inline-block;
  
}

.feedback-form h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: 478px;

  margin: 0;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 17px;
  
}

.feedback-form p {
  margin: 0;
  padding: 0;
  margin-top: 22px;
}

.feedback {
  display: flex;
  align-self: flex-start;

  width: 426px;
  margin: 0;
  padding: 0;
  
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea[type="text"] {
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

  font-size: 16px;
  color: #323232;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
  }

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 2px solid #d3d3d2;
}

.user-name:hover,
.user-name:focus,
.user-email:hover,
.user-email:focus,
.feedback:hover,
.feedback:focus {
  color: #d3d3d2;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 21px;
  height: 21px;

  font-size: 0;
  border: 0;


  background-color: #f8f7f4;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 2px;

  background-color: #231f20;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}



.user-name,
.user-email {
  display: flex;
  align-self: flex-start;

  width: 267px;
  margin: 0;
  padding: 0;
  
}



.button-feedback {
  width: 139px;
  height: 45px;
  margin-left: 290px;
  margin-top: 26px;
}



/*Поиск*/
.search {
  position: relative;

  display: inline-block;
  font-size: 0;
  width:  33px;

  margin: 0;
  padding: 0;
}

.search .modal-search {
  position: absolute;
  left: -300px;
  top: 30px;

  display: none;
}

.search:hover .modal-search,
.search:focus .modal-search,
.search:active .modal-search {
  display: flex;
}

.modal-search {
  display: flex;

  flex-direction: column;
  box-sizing: border-box;

  width: 342px;
  padding: 0;
  margin: 0;
  
}



.find p {
  width: 315px;

  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-find {
  display: flex;

  width: 312px;

  padding: 0;
  margin: 0;
  
}

.modal-search {
  font-size:14px;
  line-height: 24px;
  font-weight: 400;
}

.find input[type="search"] {

  margin: 0;
  padding: 10px 15px;


  font: inherit;
  color: #323232;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
}

.find input:focus {

  border: 2px solid #d3d3d2;
}
.find-input[type="search"] {

  box-sizing: border-box;
  width: 282px;

  margin: 0;
  padding: 0;

}
.search-find:hover,
.search-find:focus {
  color: #999999;
}

/*Товары в корзине*/

.user-navigation-cart {
  display: block;

  padding: 0;
  margin: 0;

  
}

.user-navigation-cart a {
  padding-left: 40px;
}

.full-cart {
  position: relative;
  color: #323232;
  background-color: #ffffff;

  padding: 0;
  margin: 0;
}

.user-navigation a.full-cart {
  color: #323232;
  background-color: #ffffff;
  margin: 0px;
  padding-left: 44px;
}

.modal-cart {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: 540px;
  margin: 0;
  padding: 15px;

  position: absolute;
  top: 38px;
  right: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: #323232;


  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.user-navigation-cart .modal-cart {
  position: absolute;
  top: 30px;
  right: 0;

  display: none;
}

.user-navigation-cart:hover .modal-cart {
  display: flex;
}


.cart-contents {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 6px;
}

.cart-price {
  color: #9f9f9f;
}

.total-price {
  padding-left: 398px;
  border-top: 1px solid #d1d0ce;

  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.cart-contents {
  width: 512px;
  
}

.button-cart {
  width: 171px;
  margin-left: 285px;
  margin-right: 15px;
  border-radius: 22px;


}

/*----------КОРЗИНАКОРЗИНАКАРЗИНА----------*/

.user-navigation a.full-cart:hover,
.user-navigation a.full-cart:focus {
  padding-left: 44px;
  color: #ffffff;
}

.catalog-page a.full-cart,
.catalog-page a.full-cart:hover,
.catalog-page a.full-cart:focus {
  color: #323232;
}

.catalog-page .full-cart {
  padding-left: 44px;

  color: #323232;

  text-decoration: none;

  background-color: rgba(248, 247, 244, 0.99);
}

/*.empty::before {
  content: "";

  position: absolute;

  top: 8px;
  left: 22px;;

  width: 20px;
  height: 20px;

  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}*/

.user-navigation a.empty {
  padding-left: 40px;
  color: #ffffff;
}

.user-navigation a.empty:hover,
.user-navigation a.empty:focus,
.user-navigation-cart a.full-cart:hover,
.user-navigation-cart a.full-cart:focus {
  padding-left: 44px;
  color: #323232;
}


.full-cart::before {
  content: "";

  position: absolute;
  width: 21px;
  height: 20px;

  left: 20px;
  top: 7px;

  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.user-navigation-cart svg.cart-button-img {

  top: 7px;
  position: absolute;
  width: 21px;
  height: 19px;

  left: 25px;
}

.empty:focus,
.empty:hover {
  background-color: #f8f7f4;
}

.empty:focus path,
.empty:hover path,
.empty:focus circle,
.empty:hover circle {
  fill: #000000;
}



.user-navigation-cart {
  position: relative;
}

.user-navigation-cart:hover .modal-cart {
  display: block;
  z-index: 10;
}

.cart-contents img {
  margin-right: 10px;
  margin-left: 10px;
}

.cart-contents {
  margin: 0;
  padding: 0;

  text-align: left;

  border-spacing: 0 19px;
  box-sizing: border-box;
}

.cart-contents .delete-button {
  width: 11px;
  height: 11px;
  font-size: 0;

  border: 0;
  background: url("../img/cross-small.svg") no-repeat 0 0;
  cursor: pointer;
}

.modal-cart .price {
  white-space: nowrap;
  padding-right: 25px;
}

.cart-price {
  color: #999999;
}

.total-price {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin-top: 15px;
  padding-top: 10px;
  text-align: right;
}

.delete-button {
  float: right;

  margin-bottom: 5px;

  padding-left: 14px;
  padding-right: 14px;

  line-height: 24px;

  border-radius: 22px;
}

.modal-cart .delete-button:hover,
.modal-cart .delete-button:focus {
  color: #ffffff;
}




/*----Cеточные стили----*/



.main-header {
  padding-top: 9px;

  /* Временно для сетки */

  
}

.main-navigation {
  display: flex;
  flex-direction: column;

  /*align-items: center;*/
  /* Временно для сетки  высота такая же как у  мэйн хэлэра так как вложен в него*/

  
}

.main-navigation-wrapper {
  min-width: 1146px;

  display: flex;


  
}

.main-header-logo {
  width: 154px;
  height: 64px;
  /* display: block;*/
  /* Временно для сетки */
  
}

.container-wrapper {
  display: flex;
  align-items: flex-start;

  width: 970px;


  margin: 0;
  margin-left: 23px;
  margin-top: 20px;
  padding:0;

  
}

.site-navigation {
  display: flex;
  align-items: flex-start;

  margin: 0;
  margin-right: auto;
  padding: 0;

  list-style: none;
  /* Временно для сетки */


}

.catalog-link {
  position: relative;
  display: inline-block;

  width: 65px;

  padding: 0;
  margin: 0;
  margin-right: 25px;
}


.catalog-link .modal-menu  {
  display:  none;

  position: absolute;
  margin-bottom: -1px;
  top: 30px;
  left: -15px;

  color: #323232;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

.catalog-link:hover .modal-menu,
.catalog-link:focus .modal-menu,
.catalog-link:active .modal-menu {
  display: flex;
}


.delivery {
  display: flex;

  padding: 0;
  margin: 0;
  margin-right: 10px;
}

.info {
  display: flex;

  padding: 0;
  margin: 0;

}

.user-navigation li {
 padding-left: 10px;
}

.main-navigation .time {
  margin-left: auto;

}

.time {
  box-sizing: border-box;

 display: block;


  margin: 0;
  padding: 0;
  margin-top: 10px;

  /* Временно для сетки */

  
}

.time p {
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-bottom: 5px;


}

.time .b {
  margin: 0;
  margin-left: auto;
  padding: 0;

  color: #ffffff;
  text-decoration: none;
}



/* Main */

.promo {
  margin-bottom: 40px;

}
.promo-list{
  display: flex;

  margin: 0;
  padding: 0;


  list-style: none;
  /* Временно для сетки */
  min-height: 230px;
  
}

.promo-item {

  display: block;
  width: 560px;
  padding-left: 20px;
  border-radius: 15px;

  /* Временно для сетки */
  min-height: 230px;
  
}

.raspberry {
  margin-right: 26px;
}

.catalog {
  margin-bottom: 40px;

  
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
  
}









.index-columns {
  display: flex;
  width: 1146px;

  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  
}

.news {
  display: flex;
  width: 560px;

  margin: 0;
  padding:0;
  padding-top: 25px;
  padding-bottom: 55px;
  margin-right: 26px;

  
}

.news-wrapper {
  display: flex;
  flex-direction: column;

  width: 285px;
  margin:0;
  padding: 0;
  margin-left: 18px;

  
}




.subscribe {
  display: block;
  box-sizing: border-box;

  width: 370px;
  height: 45px;

  margin: 0;
  margin-right: 13px;
  padding: 10px 15px;
}

.subscription-button{
  width: 130px;
  height: 45px;
}

.map {
  height: 430px;
  

  background-image: url(../img/map.jpg);

  margin-bottom: 38px;
}

.map-wrapper {
  width: 1146px;
  position: relative;

  margin: 0 auto;
  

}

.contacts {
  position: absolute;
  top: 63px;
  right: 0;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: 302px;
  padding: 25px;
  margin: 0;
  border-radius: 15px;
}

.contacts h4 {
  display: flex;
  width: 149px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  padding: 0;
  margin: 0;
}

.contacts-address {
  padding: 0;
  margin: 0;
  padding-bottom: 15px;
}

.contacts-phone {
  display: flex;
  flex-direction: column;
  width: 200px;

  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.feedback-buttton {
  width: 257px;
}

.pagination {
  position: relative;
  display: flex;
  justify-content: flex-end;

  margin-bottom: 38px;
  line-height: 18px;
  font-weight: 500;
 }

.pagination-wrapper {
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.pagination-wrapper a {
  margin: 0;
  padding: 0;
  width: 26px;
  height: 21px;
}

.pagination-list {
  display: inline-flex;
  margin: 16px;
  padding: 0;
  margin-left: 0;

  list-style: none;

  
  /* Временно для сетки */

}


.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width:1146px;
  margin:0 auto;
  padding: 20px 0;


  
}

.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 200px;
  padding: 0;

  list-style: none;
  /* Временно для сетки */

  
}
.footer-social-list {
  display: flex;
  width: 200px;

  margin: 0;
  padding: 0;
  padding-right: 10px;

  list-style: none;
}

.footer-social-list .social-button {
  display: inline-block;

  width: 32px;
  height: 32px;

  margin-right: 10px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button {
  width: 40px;
  height: 40px;

  margin: 0;
  padding: 0;

}

.social-button path {
  opacity: 0.8;
}

.social-button:hover,
.social-button:focus,
.social-button:active,
.social-button:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button:hover path,
.social-button:focus path {
  opacity: 1;
}

.social-button:active path,
.social-button:active path {
  fill: #e9e9e9;
}

.footer-info {
  width: 340px;
  margin: 0;
  padding: 0;

  list-style: none;
  /* Временно для сетки */

  
}

.footer-info-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  width: 340px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-info-list li {
  box-sizing: border-box;

  width: 170px;

  margin: 0;
  padding: 0;

  list-style: none;

}

.footer-info-list::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  width: 15px;
  height: 15px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;

}

.footer-info-list li:nth-child(odd) {
  padding-left: 30px;
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap;

  width: 190px;
  margin: 0;
  padding: 0;

  list-style: none;
  /* Временно для сетки */

  
}

.copyright-logo {
  width: 108px;
  height: 39px;
}

.copyright-info {
  width: 190px;

  margin: 0;
  padding: 0;
}
/*Сетка каталога*/

.breadcrumbs {
  display: flex;

  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  /* Временно для сетки */
  
}

.breadcrumbs li {
  padding-right: 20px;
}

.page-title {
  width: 384px;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
  /* Временно для сетки */
  min-height: 41px;
  
}



/*.filter-form {
  width: 879px;


  display: flex;
  flex-wrap: wrap;


  padding: 0;
  margin: 0;

  list-style: none;

  min-height: 136px;
}
.filter-items label,
.filter-items legend
  padding-left: 11px;
}

.filter-sorting {
  display: flex;
  flex-direction: column;

  width: 194px;

  padding: 0;
  margin: 0;
  margin-right: 14px;

  list-style: none;
  
}

.filter-price {
  display: flex;
  flex-direction: column;

  width: 221px;
  padding: 0;
  margin: 0;
  margin-right: 14px;

  list-style: none;
  
}

.filter-fat {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  width: 416px;

  padding: 0;
  margin: 0;
  margin-right: 13px;

  list-style: none;
  
}

.filter-fat-list {
  display: flex;

  width: 418px;
  padding: 0;
  margin: 0;

  list-style: none;
  
}

.filter-filler {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  width: 702px;
  padding: 0;
  margin: 0;
  margin-right: 14px;

  list-style: none;
  
}

.filter-filler-list {
  display: flex;

  width: 702px;

  padding: 0;
  margin: 0;

  list-style: none;
  
}

.filter-button {
  width: 145px;
  height: 42px;
  margin-right: 14px;
}*/

.modal {
  border-radius: 6px;

}







.modal-item {
  display: flex;
  flex-direction: column;

  width: 293px;
  padding: 0;
  margin: 0;


  background: rgba(255, 255, 255, 0.2)
}

.button-modal-item {
  width: 202px;
  height: 45px;

  margin-top: 339px;
  margin-bottom: 22px;
  margin-right: 46px;
  margin-left: 47px;
}

