body {
   margin: 0;
   padding: 0;

   font-family: 'Roboto', Arial, sans-serif;
   font-size: 16px;
   line-height: 22px;
   font-weight: 400;
   color: #ffffff;
   text-transform: none;

   background-color: #849d8f;
 }

.inner-page {
/*Добавила на всякий случай*/
}

 a {
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255, 0.2);
 }

.button {
  font: inherit;
  font-size: 18px;
  line-height: 24px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: none;
  text-decoration: none;

  background-color: #ee5e3f;
  border: none;
  border-radius: 40px;
  box-shadow: 0 2px 2px 0 rgba(172,16,0, 0.64);
}

.button:hover,
.button:focus {
  background-color: #f07963;
  box-shadow: 0 2px 2px 0 rgba(172,16,0, 1);
}

.button:active {
  background-color: #db5338;
  box-shadow: inset 0 2px 2px 0 rgba(148,39,24, 1);
}

/*header,*/
.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;

  background-color: #849d8f;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
  /*background-color: #849d8f; А еще  как добиться подчеркивания ссылок в главной, ощущение что это декоративный элемент*/
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #333333;
  background-color: #f8f7f4;
  border-radius: 40px;
}

.site-navigation a:active,
.user-navigation a:active {
  box-shadow: inset 0 2px 1px 0 rgba(105,105,105, 1);
}

.user-navigation a,
.main-header-logo {
  border-bottom: none;
}

.catalog-current a {
  color: #ffffff;
  background-color: #d07058;
  border-radius: 40px;
}

.time p {
  font-size: 14px;
  line-height: 16px;
}

.header-phone {
  font-size: 22px;
  line-height: 24px;
}


/* Непонятно как размечать режим работы  и телефон, размер шрифта разный, может надо  кажду строчку отдельно обернуть в абзац?*/

/*main*/
/*Слайдер*/
.slider {
  font-weight: 700;
  line-height: 60px;
  text-decoration: none;
  color: #ffffff;
  background-color: #849d8f;
}

.slide {
  list-style: none;
  text-decoration: none;
}

.slide h3 {
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.slide ul {    /* Увидела что див с кнопками листалки
   одноименный со списком фона поэтому решила выключить маркеры так, это норм или ужсужс и  диву лучше дать другой класс?*/
  list-style: none;
}

.slide-button {
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
}

.slider-button {

}

/*Промо-акции*/
.promo-list {
  list-style: none;
}

.promo-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 400;
}

.promo-offer{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.raspberry {
  background-image: url("../img/banner-1.jpg");
  background-color: #a82145;
}

.chocolate {
  background-image: url("../img/banner-2.jpg");
  background-color: #553324;
}


/*Каталог товаров*/
.catalog-list {
  list-style: none;
}

.catalog-list a {
  color: #ffffff;
}

.catalog-item {
    text-align: center;

}

.catalog-item:hover {
  background-color: #9bafa3;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
 }

.catalog-item-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  border-bottom: 1px solid rgba(255,255,255, 0.2);

}

.item-price b {
  font-size: 45px;
  line-height: 45px;
}

.item-price span {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.button-item {
  color: #ffffff;

}

/* Особенности*/
.features {
  color: #323232;
  background-color: #f1e7d1;
  background-image: url("../img/pattern.jpg");
 }

.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
 }

.features-list {
  list-style: none;
 }

 /*Article Новости*/
 .news {
   color: #323232;
   background-color: #ffffff;
   background-image: url("../img/article.jpg");
 }

 .news a {
   font-size: 24px;
   line-height: 30px;
   font-weight: 700;
   color: #323232;
   text-decoration: underline;
 }

/* Рассылка*/
.subscription {
  color: #5a5a5a;
  background-color: #f8f7f4;
  background-image: url("../img/subscription.png");
}

.subscription-form {
  line-height: 24px;
  color: #999999;
}

.subscription-form input[type="email"] {
  font: inherit;
  color: #323232;

  background-color: #ffffff;
  border: 1px solid #999999;
}
.subscribe  input:focus{
  border: 2px solid #999999;
}

.subscribe:hover,
.subscribe:focus {
  color: #999999;
}

.subscribe:active {
  font-weight: 700;
  color: #323232;
}

/*Карта и контакты*/
.contacts {
  color: #323232;
  background-color: #ffffff;
}

.contacts h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contacts-address {
  font-size: 18px;
  line-height: 24px;
}

.contacts-phone {
  font-size: 14px;
  line-height: 22px;
}

.contacts-phone b {
  font-size: 18px;
}

/*Стилизация каталога товаров, заголовок*/
.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

/*Стилизация каталога, навигация*/
.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  list-style: none;
}
.breadcrumbs a {
  color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
}

.breadcrumbs-current {

}

/*Фильтр*/
/* Фильтры сортировки товаров и цен*/

.filter-items {

}
.filter-items label {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.filter-items select {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #9db1a5;

}
.filter-items select:hover {
  color: #323232;
  background-color: #9db1a5;
}
/*Поля ввода для фильтров типа радио и чекбокс ( Жирность и наполнители) */
.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 14px;
  line-height: 16px;
}

.filter-items ul {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  list-style: none;
  color: #e6ebe9;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #ffffff;
}

.filter-input:disabled + label {
  /** По стайлгайду не могу понять какой цвет*/
}

.filter-button {
  font-size: 16px;
  line-height: 18px;

  background-color: #9cb0a4;
  border: 2px solid #fbfcfb;
  box-shadow: none;
}

.filter-button:hover {
  font-size: 16px;
  line-height: 18px;
  color: #323232;
  background-color: #fbfcfb;
  border: none;
  box-shadow: none;
}

.filter-button:focus {
  font-size: 16px;
  line-height: 18px;
  color: #323232;
  background-color: #eaeaea;
  border: none;
  box-shadow: inset 0 2px 1px 0 rgba(105,105,105, 1);
}

/*Пагинация*/
.pagination a {
  border-bottom: none;
}
.pagination-item {
  list-style: none;
  color: #ffffff;
  border-bottom: none;
}

.pagination-item a {
  color: #ffffff;
  background-color: #849d8f;

}
.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #9db1a5;
}

.pagination-item a:active {
  color: #323232;
  background-color: #ffffff;
}

.pagination-item-current a {
  color: #323232;
  background-color: #ffffff;
}

/*footer*/
.main-footer  {
  font-size: 13px;
  line-height: 18px;
  color: #e6ebe9;
}

.main-footer a {
  color: #e6ebe9;
}

.main-footer ul {
  list-style: none;
}

/*Соц. сети*/
.footer-social a {
  border-bottom: none;

}

.footer-social a:hover,
.footer-cosial a:focus {
  color: #ffbc9e;
}

.social-button {
  list-style: none;
}

.social-button:hover,
.social-button:focus {

}

/*Инфо*/
.footer-info {

}

.footer-info li:first-child {
  font-weight: 700;
}

.footer-info a:hover,
.footer-info a:focus {
  color: #ffbc9e;
}
/*Копирайт*/
.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.copyright-logo {
  border-bottom: none;
}

.copyright-info a:hover,
.copyright-info a:focus {
  color: #ffbc9e;
}

/*Ниже всплывающие окна*/
.modal {
  color: #323232;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
 }

/*Каталог*/
.modal-menu {
  color: #323232;
}

.modal-catalog {
  font-size: 14px;
  line-height: 16px;
  list-style: none;
}

.modal-catalog li:first-child {
  font-weight: 700;
}

.modal-catalog a:hover,
.modal-catalog a:focus {
  background-color: #fbded7;
}

.modal-catalog a:active {
  background-color: #f6b5a5;
}

/*Вход в личный кабинет*/
.modal-login {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  font: inherit;
  color: #323232;

  background-color: #ffffff;
  border: 1px solid #999999;
}

.login-form input:focus {
  border: 2px solid #999999;
}

.login-user:hover,
.login-user:focus,
.password:hover,
.password:focus {
  color: #999999;
}

.restore,
.new-registration {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.restore:hover,
.restore:focus,
.new-registration:hover,
.new-registration:focus {
  color: #e84d37;
  text-decoration: underline;

}

/*Обратная связь*/
.modal-feedback {
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}

.feedback-form h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  font-size: 16px;
  color: #323232;

  background-color: #ffffff;
  border: 1px solid #999999;
  }

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 2px solid #999999;
}

.user-name:hover,
.user-name:focus,
.user-email:hover,
.user-email:focus,
.feedback:hover,
.feedback:focus {
  color: #999999;
}

.button-feedback {

}

/*Поиск*/
.modal-search {
  font-size:14px;
  line-height: 24px;
  font-weight: 400;
}

.find input[type="search"] {
  font: inherit;
  color: #323232;

  background-color: #ffffff;
  border: 1px solid #999999;
}

.find input:focus {
  border: 2px solid #999999;
}

.search-find:hover,
.search-find:focus {
  color: #999999;
}

/*Товары в корзине*/
.cart-contents {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  background-color: #f8f7f4;
}

.cart-price {
  color: #9f9f9f;
}

.total-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

/*----Cеточные стили----*/

html,
body {
  min-width: 1146px;
  min-height: 1750px;
}

.main-header {
  padding-top: 9px;

  /* Временно для сетки */
  min-height: 108px;
  outline: 12px dashed orange;
}

.main-navigation {


  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*align-items: center;*/
  /* Временно для сетки  высота такая же как у  мэйн хэлэра так как вложен в него*/
  min-height: 108px;
  outline: 5px solid yellow;
}

.main-navigation-wrapper {
  min-width: 1146px;
  display: flex;

  outline: 5px solid magenta;
}

.container-wrapper {
  width: 970px;
  margin-left: 23px;

  display: flex;
  justify-content: space-between;
  flex-grow: 1;

  outline: 5px solid green;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  /* display: block;*/
  /* Временно для сетки */
  outline: 1px solid #a82145;

}

.site-navigation {
  width: 383px;
  margin: 0;
  padding: 0;

  list-style: none;
  /* Временно для сетки */
  min-height: 70px;
  outline: 1px solid #a82145;
}

.user-navigation {
  width: 267px;
  margin: 0;
  padding: 0;

  list-style: none;
  /* Временно для сетки */
  min-height: 70px;
  outline: 1px solid #a82145;
}

.time {
  width: 170px;

  align-self: flex-end;

  /* Временно для сетки */
  min-height: 42px;
  outline: 1px solid #a82145;
}

/* Main */
.container {
  /* Временно для сетки */
  outline: 5px solid blue;
}

.promo {
  margin-bottom: 40px;

}
.promo-list{
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
  /* Временно для сетки */
  min-height: 230px;
  outline: 5px solid green;
}

.promo-item {
  width: 560px;
  /* Временно для сетки */
  min-height: 230px;
  outline: 5px solid #a82145;
}

.raspberry {
  margin-right: 26px;
}

.catalog {
  margin-bottom: 40px;

  outline: 5px solid green;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
  outline: 5px dotted lightgreen;
}

.catalog-item {
  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;

  min-height: 325px;
  outline: 2px solid #a82145;
  background-color: transparent;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.features {
  margin-bottom: 40px;
  outline: 5px dotted green;
  padding-left: 20px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none
}

.feature-item {
  width: 560px;

  margin-bottom: 15px;
  margin-right: 26px;
  padding-left: 56px;

  min-height: 66px;
  outline: 2px solid #a82145;
  background-color: transparent
}


.index-columns {
  display: flex;

  margin-bottom: 40px;

  min-height: 222px;
  outline: 5px solid green;
}

.news {
  width: 560px;
  margin-right: 26px;

  outline: 2px solid #a82145;
}

.subscription {
  width: 560px;

  outline: 2px solid #a82145;
}

.map {

  outline: 5px solid green;

  width: 1200px;
  height: 430px;
  background-image: url(../img/map.jpg);
  margin: 0 auto;
  margin-bottom: 18px;
  position: relative;
}

.map-wrapper {
  width: 1200px;
  height: 430px;
  background-image: url(../img/map.jpg);
  margin: 0 auto;
  margin-bottom: 18px;
  position: relative;
  outline: 2px solid #a82145;
}

.contacts {
  border-radius: 15px;
  width: 302px;
  position: absolute;
  top: 63px;
  right: 27px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  outline: 5px solid green;
 }
.pagination-wrapper {
  display: flex;

  width: 190px;
  height: 32px;

  outline: 5px solid orange;
}

.pagination-list {

  margin-left: 15px;
  margin-right: 20px;
  padding: 0;

  list-style: none;

  outline: 2px solid #a82145;
  /* Временно для сетки */
  min-height: 47px;
}


.footer {
    margin-top: 30px;
}
