body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;

  background-color: #849d8f;
 }

a {
  text-decoration-color: rgba(255, 255, 255, 0.2);
  background: transparent;
 }

img {
  max-width:100%;
  height: auto;
 }

.site-wrapper {
  min-width: 1146px;
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}

.page-wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* кнопки */
.button {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 22px;

  color: #ffffff;

  text-align: center;
  vertical-align: top;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  border: none;
  text-decoration: none;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*header,*/
.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;

  background-color: transparent;
}

.main-navigation-wrapper {
  min-width: 1146px;
  display: flex;
}

.container-wrapper {
  display: flex;
  align-items: flex-start;

  width: 982px;
  margin: 0;
  padding:0;
  margin-left: 10px;
  padding-top: 13px;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation .navigation-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  padding: 7px 14px;
  color: #ffffff;
}

.site-navigation .navigation-button:hover,
.site-navigation .navigation-button:focus {
  color: #333333;
  background-color: #f7f6f3;
  border-radius: 16px;
  text-decoration: none;
}

.site-navigation .navigation-button:active {
  color: #333333;
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
  border-radius: 16px;
  text-decoration: none;
}

.site-navigation a {
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.site-navigation a,
.user-navigation a {
  display: block;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #333333;
  background-color: #f8f7f4;
}

.site-navigation a:active,
.user-navigation a:active {
  box-shadow: inset 0 2px 1px 0 rgba(105,105,105, 1);
}

.user-navigation a,
.main-header-logo {
  border-bottom: none;
}

.main-header {
  padding-top: 9px;
}

.main-header-logo {
  width: 154px;
  height: 64px;
}

.site-navigation {
  display: flex;
  align-items: flex-start;

  margin: 0;
  margin-right: auto;
  padding: 0;

  list-style: none;
}

.catalog-link {
  position: relative;
  display: inline-block;

  width: 90px;
  padding: 0;
  margin: 0;
}

.modal-menu {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: 144px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  color: #323232;
  list-style: none;
}

.modal-menu li{
  display:block;
}

.modal-menu a {
  text-decoration:none;
  color:#ffffff;
}

.catalog-link .modal-menu {
  display:  none;

  position: absolute;
  margin-bottom: -1px;
  top: 40px;
  left: -5px;

  color: #323232;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  z-index: 10;
}

.catalog-link:hover .modal-menu,
.catalog-link:focus .modal-menu,
.catalog-link:active .modal-menu {
  display: flex;
}

.modal-catalog {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: 144px;
  padding: 0;
  margin: 0;

  font-size: 14px;
  line-height: 16px;
  list-style: none;
}

.modal-catalog li {
  display: block;
  width: 144px;
  list-style: none;
}

.modal-catalog a {
  display: block;
  padding: 0;
  color: #323232;
  border: none;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
}

.modal-catalog li:first-child>a {
  font-weight: 700;
  padding-top: 12px;
  border-bottom: 1px solid #d1d0ce;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-catalog li:last-child>a {
  padding-bottom: 14px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modal-catalog a:hover,
.modal-catalog a:focus {
  background-color: #fbded7;
}

.modal-catalog a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.catalog-link-current {
  color: #ffffff;
  background-color: #d07058;
  border-radius: 40px;
  text-decoration: none;
}

.modal-catalog .modal-catalog-current {
  background-color: #d07058;
  border-radius: 0px;
  padding-top: 10px;
  text-decoration: none;
}
.modal-catalog .modal-catalog-current:hover a {
  background-color: #d07058;
}

.delivery {
  width: 174px;
  padding: 0;
  margin: 0;
}

.info {
  display: flex;
  padding: 0;
  margin: 0;
}

.info a.navigation-button {
  padding-left: 9px;
}

.user-navigation li {
  margin-left: 10px;
}


.user-navigation {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-start;

  min-width: 245px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-pack: end;
       -ms-flex-pack: end;
     justify-content: flex-end;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-navigation a {
  display: inline-block;

  padding: 9px 16px;
  padding-right: 28px;

  vertical-align: middle;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  text-decoration: none;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #333333;
}

.user-navigation-button {
  position: relative;
}

.user-navigation-cart {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
}

.user-navigation-cart a {
  padding-left: 40px;
}


.user-navigation a.empty {
  padding-right: 16px;
  padding-left: 46px;
  color: #ffffff;
}

.user-navigation-cart svg.cart-button-img {
  position: absolute;
  top: 7px;
  left: 17px;
  width: 20px;
  height: 20px;
}

.empty:focus,
.empty:hover {
  background-color: #f8f7f4;
}

.empty:focus path,
.empty:hover path,
.empty:focus circle,
.empty:hover circle {
  fill: #000000;
}

.user-navigation a.empty:hover,
.user-navigation a.empty:focus,
.user-navigation-cart a.full-cart:hover,
.user-navigation-cart a.full-cart:focus {
  color: #323232;
}

.full-cart {
  position: relative;
  padding: 0;
  margin: 0;
  color: #323232;
  background-color: #ffffff;
}

.full-cart::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 7px;

  width: 20px;
  height: 20px;

  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation a.full-cart {
  margin: 0px;
  padding-left: 44px;
  padding-right: 17px;
  color: #323232;
  background-color: #ffffff;
}

.catalog-page .full-cart {
  padding-left: 44px;
  color: #323232;
  text-decoration: none;
  background-color: rgba(248, 247, 244, 0.99);
}

.catalog-page a.full-cart,
.catalog-page a.full-cart:hover,
.catalog-page a.full-cart:focus {
  color: #323232;
}

.user-navigation-cart:hover .modal-cart,
.useer-navigation-cart:focus .modal-cart {
  display: flex;
  z-index: 10;
}

.user-navigation-cart .modal-cart {
  position: absolute;
  top: 40px;
  right: 0;

  display: none;
}

.modal-cart {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: 540px;
  margin: 0;
  padding: 15px;
  padding-top: 0px;

  position: absolute;
  top: 38px;
  right: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: #323232;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.cart-contents {
  box-sizing: border-box;
  width: 512px;
  margin: 0;
  padding: 0;
  margin-right: 10px;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;

  color: #323232;
  background-color: #f8f7f4;
  text-align: left;
  border-radius: 6px;
  border-spacing: 0 19px;
}

.cart-price {
  color: #9f9f9f;
}

.cart-position {
  width: 255px;
}

.cart-position-strawberry{
  padding-top: 10px;
}

.total-price {
  padding-left: 398px;
  border-top: 1px solid #d1d0ce;

  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.cart-contents .delete-button {
  width: 11px;
  height: 11px;
  font-size: 0;

  border: 0;
  background: url("../img/cross-small.svg") no-repeat 0 0;
  cursor: pointer;
}

.delete-button {
  float: right;
  margin-bottom: 5px;
  padding-left: 14px;
  line-height: 24px;
  border-radius: 22px;
}

.modal-cart .price {
  white-space: nowrap;
  padding-right: 25px;
}

.total-price {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin-top: 15px;
  padding-top: 10px;
  text-align: right;
}

.modal-cart .delete-button:hover,
.modal-cart .delete-button:focus {
  color: #ffffff;
}

.modal-cart .button-cart {
  width: 170px;
  margin-right: 15px;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 340px;
}

.modal-cart .button-cart:hover,
.modal-cart .button-cart:focus {
  color: #ffffff;
}

.user-navigation .login-link-enter {
  padding-left: 44px;
  padding-right: 16px;
}

.login-link {
  position:relative;
  padding: 0;
  margin: 0;
}

.login-link-enter {
  padding-left: 45px;
  background-color: rgba(132, 157, 143, 0);
}

.login-link-enter svg.login-button-img {
  position: absolute;
  width: 21px;
  height: 19px;

  left: 17px;
  top: 7px;
}

.login-link-enter:focus,
.login-link-enter:hover {
  background-color: #f8f7f4;
}

.login-link-enter:focus path,
.login-link-enter:hover path,
.login-link-enter:focus polygon,
.login-link-enter:hover polygon {
  fill: #000000;
}

.modal-login {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: 278px;
  padding: 0;
  padding-left: 20px;
  padding-right: 18px;
  padding-bottom: 20px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}

.login-link .modal-login {
  position: absolute;
  top: 40px;
  left: -200px;
  z-index: 10;
  display: none;
}

.login-link:hover .modal-login,
.login-link:focus .modal-login,
.login-link:active .modal-login {
  display: flex;
  z-index: 10;
}

.login-form-links a {
  margin: 0;
  padding:0;
}

.login-form-wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;

  width: 240px;
  padding: 0;
  margin: 0;
}

.login-form-links {
  padding:0;
  margin: 0;
}

.login-form p,
.login-form-wrapper{
  margin-top: 20px;
  margin-bottom: 0;
}

.login-form-links p {
  display: flex;
  flex-direction: column;

  width: 119px;
  margin: 0;
  padding: 0;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
}

.login-form input:hover,
.login-form input:focus {
  border: 2px solid #d3d3d2;
}

.login-user,
.password {
  display: flex;
  width: 240px;
  margin: 0;
  padding: 0;
}

.login-user:hover,
.login-user:focus,
.password:hover,
.password:focus {
  color: #999999;
}

.login-form-wrapper a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.login-form-wrapper a:hover,
.login-form-wrapper a:focus{
  color: #e84d37;
  border-radius: 0;
  text-decoration: underline;
}

.button-login {
  width: 100px;
  height: 44px;
  margin-right: 20px;
  border-radius: 22px;
}

.login-form a:hover,
.login-form a:focus {
  color: #e84d37;
}


.user-navigation .search-button {
  padding: 0;
  width: 33px;
  height: 33px;
}

.search-button svg.search-button-img {
  position: absolute;
  width: 17px;
  height: 17px;

  left: 8px;
  top: 8px;
}

.search-button:focus,
.search-button:hover {
  background-color: #f8f7f4;
}

.search-button:focus path,
.search-button:hover path {
  fill: #000000;
}

.search {
  position: relative;
  display: inline-block;
  width:  33px;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.search .modal-search {
  position: absolute;
  left: -300px;
  top: 40px;
  display: none;

  flex-direction: column;
  box-sizing: border-box;

  width: 342px;
  margin: 0;
  padding: 20px 15px;

  font-size:14px;
  line-height: 24px;
  font-weight: 400;
}

.search:hover .modal-search,
.search:focus .modal-search,
.search:active .modal-search {
  display: flex;
  z-index: 10;
}

.modal-search {
  display: flex;
}

.find {
  margin: 0;
  padding: 0;
}

.search-find {
  display: flex;
  width: 312px;
  padding: 0;
  margin: 0;
}

.find input[type="search"] {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 15px;

  font: inherit;
  color: #323232;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
}

.find input:hover,
.find input:focus {
  border: 2px solid #d3d3d2;
}

.search-find:hover,
.search-find:focus {
  color: #999999;
}

.main-navigation .time {
  margin-left: auto;
}

.time {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  text-align: right;
}

.time p {
  padding: 0;
  margin: 0;
  margin-left: 17px;
  padding-bottom: 5px;
}

.time .b {
  margin: 0;
  margin-left: auto;
  padding: 0;

  color: #ffffff;
  text-decoration: none;
}

.work-hours {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.header-phone {
  font-size: 22px;
  line-height: 24px;
}

/*main*/
.main-container {
  position: relative;
}

.main-slider {
  position: relative;
  margin-top: 260px;
  margin-bottom: 41px;

  text-align: center;
  color: #ffffff;
}

.main-slider h3 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;

  width: 675px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.slider-item {
  padding-top: 15px;
}

.main-slider a.main-slider-button {
  padding-left: 42px;
  padding-right: 42px;

  font-size: 32px;
  line-height: 44px;
  border-radius: 32px;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 21px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slide {
  display: none;
}

#switch-slide-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
}

#switch-slide-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
}

#switch-slide-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
}


#switch-slide-1:checked ~ .site-wrapper #slide-1,
#switch-slide-2:checked ~ .site-wrapper #slide-2,
#switch-slide-3:checked ~ .site-wrapper #slide-3 {
  display: block;
}

#switch-slide-1:checked ~ .site-wrapper label[for="switch-slide-1"],
#switch-slide-2:checked ~ .site-wrapper label[for="switch-slide-2"],
#switch-slide-3:checked ~ .site-wrapper label[for="switch-slide-3"] {
  background-color: #ffffff;
}

/*Промо-акции*/
.promo {
  margin-bottom: 40px;

}
.promo-list{
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-item {
  display: block;
  width: 560px;
  padding-left: 20px;
  border-radius: 15px;
  min-height: 228px;
}

.promo-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 5px;
}

.promo-offer{
  display: inline-block;
  margin-top:0;
  margin-bottom: 30px;
  padding-left: 1px;
  padding-right: 20px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.raspberry {
  margin-right: 26px;
  background-image: url("../img/banner-1.jpg");
  background-color: #a82145;
}

.chocolate {
  background-image: url("../img/banner-2.jpg");
  background-color: #553324;
}

.promo-item a {
  display: inline-block;
  width: 170px;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 350px;
  margin-right: 20px;
}

.chocolate a {
  width: 190px;
  margin-left: 330px;
}

/*Каталог товаров*/

.catalog {
  padding: 0;
  margin:0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-list a {
  color: #ffffff;
}

.catalog-item {
  position: relative;
  display: flex;
  padding:0;
  margin: 0;
  width: 267px;
  margin-right: 26px;
  margin-bottom: 7px;
  text-align: center;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.item-container {
  position: relative;
  width:267px;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

.item-container::after {
  content: "";
  position: absolute;
  top: -6px;
  right: -13px;
  left: -13px;
  bottom: -40px;

  display: none;
  z-index: 1;

  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}

.item-container:hover::after,
.item-container:focus::after {
  display: block;
  z-index: 1;
}

.hit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

.catalog-item-image {
  margin: 0px;
}

.catalog-item-title {
  padding-left: 5px;
  padding-right: 5px;
}

.catalog-item .catalog-item-title {
  position: relative;
  z-index: 2;

  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;

  line-height: 22px;
  font-weight: 500;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.button-item {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: 2;

  width: 176px;
  margin-left: 30px;
  margin-right: 35px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 22px;
  color: #ffffff;

  display: none;
}

.catalog-item:hover .button-item {
  display: inline-block;
}

.catalog-item .catalog-item-title:hover {
  color: #ffbc9e;
}

.item-price {
  z-index: 2;
  margin-top: -62px;
  margin-left: -114px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.item-price b {
  font-size: 45px;
  line-height: 45px;
}

.item-price .weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

/* Особенности*/
.features {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;
  margin-bottom: 38px;

  color: #323232;
  background-color: #f1e7d1;
  background-image: url("../img/pattern.jpg");
  border-radius: 15px;
 }

.features .features-title {
  margin-left: 20px;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500
 }

.features-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  position: relative;
  width: 478px;
  margin-left: 76px;
  margin-right: 12px;
  margin-bottom: 22px;
}

.feature-item::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  top: -14px;
  left: -57px;
}

.features-item-1::before {
  background-image: url("../img/ice-cream.svg");
}

.features-item-2::before{
  background-image: url("../img/cow.svg");
}

.features-item-3::before {
  background-image: url("../img/eco.svg");
}

.features-item-4::before{
  background-image: url("../img/thermometer.svg");
}

/*Article Новости*/
.index-columns {
  display: flex;
  width: 1146px;

  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.news {
  display: flex;
  box-sizing:border-box;
  width: 560px;

  margin: 0;
  padding:0;
  padding-top: 8px;
  padding-bottom: 55px;
  margin-right: 26px;

  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/article.jpg");
  border-radius: 15px;
  background-repeat: no-repeat;
}

.news-wrapper {
  display: flex;
  flex-direction: column;

  width: 285px;
  margin:0;
  padding: 0;
  margin-left: 18px;
}

 .news h2 {
   font-size: 16px;
   line-height: 22px;
   font-weight: 500;

   margin-top: 13px;
   margin-bottom: 4px;
 }

 .news a {
   font-size: 24px;
   line-height: 30px;
   font-weight: 700;
   color: #323232;
   text-decoration: underline;
 }

/* Рассылка*/
 .subscription {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  color: #5a5a5a;
  background-color: #f8f7f4;
  background-image: url("../img/subscription.png");
  border-radius: 15px;
  background-repeat: no-repeat;
}

.subscription p {
  width: 511px;
}

.subscription-wrapper {
  display: flex;

  width: 511px;

  padding: 0;
  margin: 0;
  margin-top: 35px;
}

.subscription-layer {
  position: relative;
  box-sizing: border-box;
  width: 549px;
  min-height: 210px;

  left: 0px;
  margin: 5px;
  padding-top: 10px;
  padding-left: 20px;
  margin-left: 5px;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscription-form {
  line-height: 24px;
  color: #999999;
}

.subscription-form input[type="email"] {
  font: inherit;
  color: #323232;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
}

.subscription-form input[type="email"]:hover,
.subscription-form input[type="email"]:focus {
  border: 2px solid #d3d3d2;
}

.subscribe {
  display: block;
  box-sizing: border-box;

  width: 370px;
  height: 45px;

  margin: 0;
  margin-right: 13px;
  padding: 10px 15px;
}

.subscribe input:hover,
.subscribe input:focus{
  border: 2px solid #d3d3d2;
}

.subscribe:hover,
.subscribe:focus {
  color: #999999;
}

.subscribe:active {
  font-weight: 700;
  color: #323232;
}

.subscription-button{
  width: 130px;
  height: 45px;
}

/*Карта и контакты*/
.map {
  position: relative;
  height: 430px;
  background-image: url(../img/map.jpg);
}

.google-map {
  width: 100%;
  margin: 0 auto;
}

/*.map-wrapper {*/
  /*position: relative;*/
  /*width: 1146px;*/
  /*margin: 0 auto;*/
/*}*/

.contacts {
  position: absolute;
  top: 63px;
  left: 50%;
  
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: 302px;
  padding: 25px;
  margin: 0;
  margin-left: 270px;
  padding-top: 28px;
  padding-right: 20px;
  padding-bottom: 30px;

  border-radius: 15px;

  color: #323232;
  background-color: #ffffff;
}

.contacts h4 {
  display: flex;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  padding: 0;
  margin: 0;
}

.contacts-address {
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 24px;
}

.contacts-address-title {
  width: 149px;
}

.contacts-phone {
  display: flex;
  flex-direction: column;
  width: 200px;

  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 5px;

  font-size: 14px;
  line-height: 22px;
}

.contacts-phone-title {
  width: 180px;
  padding-left: 0px;
}

.contacts-phone b {
  font-size: 18px;
}

.feedback-buttton {
  width: 250px;
}

/*Стилизация cтрaницы каталога, заголовок*/
.page-title {
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
  min-height: 41px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

/*Стилизация каталога, навигация*/
.breadcrumbs {
  display: flex;
  padding-left: 0px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  list-style: none;
}

.breadcrumbs li {
  display: flex;
  padding: 0;
  margin: 0;
  padding-right: 20px;
  margin-top: -20px;
  margin-bottom: 10px;
  list-style: none;
}

.breadcrumbs a {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.breadcrumbs a::after {
  content: "»";
  display: block;
  position: absolute;
  top: 0px;
  right: -12px;

  width: 6px;
  height: 6px;
  color: rgb(255, 255, 255);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

/* Фильтры сортировки товаров и цен*/
.filters {
  width: 1146px;
  margin: 0 auto;
  margin-bottom: 25px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filter {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 880px;
}

.filter fieldset {
  border: none;
  margin-bottom: 15px;
}

.filters legend {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filters ul {
  list-style: none;
}

.filter-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  margin: 0;
  margin-right: 14px;
  padding: 0;
}
.filter-fat,
.filter-additive,
.filter-sort {
  display: flex;
  box-sizing: border-box;

  margin: 0;
  padding: 9px 15px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.filter-item-fat legend,
.filter-item-additive legend,
.filter-item-sort legend,
.filter-item-price legend {
  padding-left: 15px;
}


.filters select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: relative;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: inherit;


  padding: 9px;
  padding-right: 30px;
  padding-left: 10px;

  border: none;
  box-sizing: border-box;

  background-image: url("../img/icon-down-dir-white.svg");
  background-position: 168px center;
  background-repeat: no-repeat;
}

.filters select:hover {
  color: #323232;

  background-image: url("../img/icon-down-dir.svg");
  background-position: 168px center;
  background-repeat: no-repeat;
}

.filter-item-sort-option {
  color: #323232;
  padding-left: 5px;
  padding-right: 5px;
}


.filter-sort::-ms-expand {
  display: none;
}

.filter-sort{
  padding-top: 16px;
  padding: 9px;
  padding-left: 16px;
  padding-right: 32px;
}

.filter-price {
  position: relative;
  margin: 0;
  padding: 17px 22px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18.5px;
}

.filter-price .scale {
  width: 176px;
  height: 4px;

  background: rgba(255, 255, 255, 0.5);
}

.filter-price .bar {
  margin-left: 33px;
  width: 78px;
  height: 4px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: 9px;
  width: 20px;
  height: 20px;

  box-sizing: border-box;
  background: rgba(132, 157, 143, 0.2);
  border: 8px solid #ffffff;
  border-radius: 50%
}

.range-toggle-min {
  left: 35px;
}

.range-toggle-max {
  left: 133px;
}

.range-toggle:hover {
  position: absolute;
  top: 8px;
  width: 22px;
  height: 22px;

  box-sizing: border-box;
  background: rgba(132, 157, 143, 0.2);
  border: 9px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.filter-fat li {
  position: relative;
  padding-left: 32px;
  padding-right: 17px;
}

.filter-additive li {
  position: relative;
  padding-left: 32px;
  padding-right: 20px;
}

.filter-additive li:nth-child(3) {
  padding-right: 25px;
}

.filter-fat li:last-child {
  padding-right: 0;
}

.filter-additive li:last-child {
  padding-right: 5px;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;

  box-sizing: border-box;
  width: 22px;
  height: 22px;

  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 7px;

  box-sizing: border-box;
  width: 8px;
  height: 8px;

  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

input[type="radio"]:hover + label::before,
input[type="radio"]:focus + label::before {
  border: 3px solid #ffffff;
}

input[type="radio"]:hover + label::after,
input[type="radio"]:focus + label::after {
  border: 3px solid #ffffff;
  background-color: #ffffff;
}

input[type="radio"]:disabled + label::before,
input[type="radio"]:disabled + label::after {
  border: 3px solid rgba(255, 255, 255, 0.4);
}

input[type="checkbox"]:not(:checked) + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;

  box-sizing: border-box;
  width: 20px;
  height: 20px;

  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

input[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;

  box-sizing: border-box;
  width: 24px;
  height: 20px;

  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

input[type="checkbox"]:not(:checked):hover + label::before,
input[type="checkbox"]:not(:checked):focus + label::before {
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

input[type="checkbox"]:not(:checked):disabled + label::before {
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

input[type="checkbox"]:hover + label::before,
input[type="checkbox"]:focus + label::before {
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

input[type="checkbox"]:not(:checked):disabled + label::before {
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

.filter-button {
  display: block;
  width: 144px;
  height: 37px;
  margin-top: 21px;

  font-weight: 500;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 18.5px;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;
  background-color: #ffffff;
}

.filter-button:active {
  color: #323232;
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.sort {
  font-size: 16px;
  line-height: 18px;
  border: none;
}

/*Пагинация*/

.pagination {
  position: relative;
  display: flex;
  justify-content: flex-end;

  margin-bottom: 15px;
  line-height: 18px;
  font-weight: 500;
}

.pagination-wrapper {
  position: relative;

  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
  margin-top: 27px;
}

.pagination-wrapper a {
  margin: 0;
  padding: 0;
}

.pagination-list a {
  width: 26px;
}

.pagination-list {
  display: inline-flex;
  margin: 15px;
  padding: 0;
  margin-right: 20px;
  padding-left: 5px;
  margin-top: 17px;

  list-style: none;
}

.pagination-list li {
  margin-right: 2px;
}

.pagination a {
  font-size: 16px;
  line-height: 18px;
  border-bottom: none;
}

.pagination-item {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 9px;
  padding-right: 9px;
  height: 18px;

  list-style: none;
  color: #ffffff;
  border-bottom: none;
}

.pagination-item a {
  padding: 0;
  color: #ffffff;
  text-decoration: none;
}

.back-page-link {
  position: absolute;
  left: 0px;
  top: 25px;

  width: 8px;
  height: 12px;
  transform: scale(-1);
}

.next-page-link {
  position: absolute;
  top: 21px;
  left: 177px;
  width: 8px;
  height: 12px;
}

.pagination-item:hover,
.pagination-item:focus {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  color: #323232;
  background-color: #ffffff;
}

.pagination-item-current {

  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}

.pagination-item-current a {
  color: #323232;
}

.pagination-item-current a:hover {
  margin: 0;
  padding: 0;
  width: 26px;
}

/*footer*/
.main-footer  {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width:1146px;
  margin:0 auto;
  padding: 20px 0;

  font-size: 13px;
  line-height: 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.main-footer a {
  color: #ffffff;
}

.main-footer ul {
  list-style: none;
}

/*Соц. сети*/
.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 200px;
  padding: 0;
  margin-right: 193px;
  list-style: none;
}

.footer-social a {
  border-bottom: none;
}

.footer-social a:hover,
.footer-social a:focus {
  color: #ffbc9e;
}
.footer-social-list {
  display: flex;
  width: 200px;

  margin: 0;
  padding: 0;
  padding-right: 10px;

  list-style: none;
}

.footer-social-list .social-button {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 11px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-button path {
  opacity: 0.8;
}

.social-button:hover,
.social-button:focus,
.social-button:active,
.social-button:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button:hover path,
.social-button:focus path {
  opacity: 1;
}

.social-button:active path,
.social-button:active path {
  fill: #e9e9e9;
}

/*Инфо*/
.footer-info {
  width: 340px;
  margin: 0;
  padding: 0;
  margin-right: 219px;
  list-style: none;
}

.footer-info-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  width: 340px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-info-list li {
  box-sizing: border-box;
  width: 170px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-info-list::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  width: 15px;
  height: 15px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

.footer-info-list li:nth-child(odd) {
  padding-left: 30px;
}

.footer-info li:first-child {
  font-weight: 700;
}

.footer-info a:hover,
.footer-info a:focus {
  color: #ffbc9e;
}
/*Копирайт*/

.footer-copyright {
  display: flex;
  flex-wrap: wrap;

  width: 190px;
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 18px;
  text-align: center;

  list-style: none;
}

.copyright-info {
  margin: 0;
  padding: 0;
}

.copyright-logo {
  background-image: url("../img/logo-htmlacademy.svg");
  background: no-repeat;
  border-bottom: none;
}

.copyright-info a:hover,
.copyright-info a:focus {
  color: #ffbc9e;
}

/*Ниже всплывающие окна*/
.modal {
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.4);
 }

/*Обратная связь*/
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-feedback {
  position: fixed;
  top: 338px;
  left: 50%;

  margin-left: -245px;

  line-height: 24px;
  font-weight: 400;
  color: #323232;
  display: none;
  z-index: 20;
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: 478px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 17px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 21px;
  height: 21px;

  font-size: 0;
  border: 0;

  background-color: #f8f7f4;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 2px;

  background-color: #231f20;
}

.feedback-form p {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.feedback-title {
  line-height: 28px;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.feedback-form h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback {
  display: flex;
  align-self: flex-start;

  width: 426px;
  margin: 0;
  padding: 0;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

  font-size: 16px;
  color: #323232;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
  }

.feedback-form textarea {
  padding-top: 15px;
  padding-bottom: 15px;
}

.feedback-form input:hover,
.feedback-form input:focus,
.feedback-form textarea:hover,
.feedback-form textarea:focus {
  border: 2px solid #d3d3d2;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.user-name,
.user-email {
  display: flex;
  align-self: flex-start;

  width: 267px;
  margin: 0;
  padding: 0;
}

.button-feedback {
  width: 139px;
  height: 45px;
  margin-left: 290px;
  margin-top: 26px;
}



